
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <!--Chart js-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
</head>
<body>
    <header> 
        <nav>
            <ul class="nav__links">
                <li> <a href="http://localhost:5000/profile"> Overview </a> </li>
                <li> <a href="#"> Analysis </a> </li>
                <li> <a href="#"> Unknown </a> </li>
                <li> <a href="#"> About </a> </li>
            </ul>
        </nav>
        <p class="welcome"> Welcome {{user}} </p>
        <button class="cta" onclick="window.location = 'http://localhost:5000/dropsession'" type="submit"> Logout </button>
    </header>

    <div class="container">
        <div id="sidebar"> Sidebar {{date_list}} </div>


        <div id="content1"> 
            <canvas id="myChart" width="2" height="2"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{date_list|tojson}},
                    datasets: [{
                        label: 'Closing price',
                        data: {{close_price_list}},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive:true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            </script> </div>





        
        <div id="content2"> Total: </div>



        <div id="content3"> 
            <canvas id="myChart2" width="2" height="2"></canvas>
            <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                datasets: [{
                    data: [10, 20, 30]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Red',
                    'Yellow',
                    'Blue'
                ]
            },
                options: {
                    responsive:true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
         </script> </div>

        <div id="footer"> Footer </div>

    </div>

</body>
</html>